/* Common Css Style Start Here   */
body{
    font-family: 'Poppins', sans-serif;
}


/* Erro Custom Style  */
.input_error{
    display: none;
}
.nofind_error{
    color: #ff6347;
    display: none;
}
.spinner_sec{
    display: none;
}